body{
    margin: auto;
    padding: 10%;
    background-image: url("../images/full-bloom.png");
}


img{
    max-height: 150px;
}

.gif-item{
    display: inline;
    padding: 10px;
}

#buttons{
    margin-bottom: 10px;
}

.add-topic{
    margin-bottom: 10px;
}

.topic-button{
    margin: 0px 5px 5px 0px;
}

#new-topic-button{
    background-color: white;
}

.instructions{
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

#gif-section{
    padding: 10px;
}

.add-gifs{
    display: block;
    margin: auto;
}

#all-gifs{
    padding: 5px 15px;
}