body{
    background-image: url("../images/full-bloom.png");
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Lora', serif;
    font-weight: bold;
}

img{
    max-height: 150px;
    width: auto;
}

.gif-item{
    display: inline;
    padding: 10px;
}

#buttons{
    margin-bottom: 10px;
}

.add-topic{
    margin-bottom: 10px;
}

.topic-button{
    margin: 0px 5px 5px 0px;
}

#new-topic-button{
    background-color: white;
}

.instructions{
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

p{
    text-align: center;
}

#gif-section{
    padding: 10px;
}

.add-gifs{
    display: block;
    margin: auto;
}

#all-gifs{
    padding: 5px 15px;
}

.rating{
    font-weight: bold;
}